<h4 *ngIf="loading">Loading...</h4> 
<mat-form-field appearance="fill">
  <mat-label>{{label}}</mat-label>
  <mat-select [disabled]="loading" matInput (valueChange)="updateValue($event)">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{option.viewValue}}
    </mat-option>


  </mat-select>
</mat-form-field>